asgiref==3.8.1
crispy-bootstrap5==0.7
Django==5.1.7
django-crispy-forms==2.3
dotenv==0.9.9
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg2==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.3
typing_extensions==4.12.2
whitenoise==6.9.0
